body {
    margin: 0px;
    background: rgb(2,2,40);
    background-repeat: none;
    background: linear-gradient(180deg, rgba(2,2,40,1) 0%, rgba(55,15,89,1) 49%);
    width: 100vw;
    height: 100vh;
}
